<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Library-imports" data-toc-modified-id="Library-imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Library imports</a></span></li><li><span><a href="#Function-to-extract-data" data-toc-modified-id="Function-to-extract-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Function to extract data</a></span></li><li><span><a href="#Collecting-data-from-Eurostat" data-toc-modified-id="Collecting-data-from-Eurostat-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Collecting data from Eurostat</a></span><ul class="toc-item"><li><span><a href="#Obesity-rate-by-body-mass-index-(BMI)" data-toc-modified-id="Obesity-rate-by-body-mass-index-(BMI)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Obesity rate by body mass index (BMI)</a></span><ul class="toc-item"><li><span><a href="#Variables:-obestity_rate_2014-(18-entries),-obestity_rate_2019-(31-entries)" data-toc-modified-id="Variables:-obestity_rate_2014-(18-entries),-obestity_rate_2019-(31-entries)-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Variables: obestity_rate_2014 (18 entries), obestity_rate_2019 (31 entries)</a></span></li></ul></li><li><span><a href="#People-at-risk-of-poverty-or-social-exclusion" data-toc-modified-id="People-at-risk-of-poverty-or-social-exclusion-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>People at risk of poverty or social exclusion</a></span><ul class="toc-item"><li><span><a href="#Variables:-people_risk_poverty_2015,-people_risk_poverty_2019" data-toc-modified-id="Variables:-people_risk_poverty_2015,-people_risk_poverty_2019-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Variables: people_risk_poverty_2015, people_risk_poverty_2019</a></span></li></ul></li><li><span><a href="#The-real-gross-disposable-income-of-households-per-capita-(index-=-2008)" data-toc-modified-id="The-real-gross-disposable-income-of-households-per-capita-(index-=-2008)-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>The real gross disposable income of households per capita (index = 2008)</a></span><ul class="toc-item"><li><span><a href="#Variables:-gross_disposable_income_2014,-gross_disposable_income_2019" data-toc-modified-id="Variables:-gross_disposable_income_2014,-gross_disposable_income_2019-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Variables: gross_disposable_income_2014, gross_disposable_income_2019</a></span></li></ul></li><li><span><a href="#Persons-reporting-a-chronic-disease,-by-disease" data-toc-modified-id="Persons-reporting-a-chronic-disease,-by-disease-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Persons reporting a chronic disease, by disease</a></span><ul class="toc-item"><li><span><a href="#Variables:-asthma_2019,-CHR_LW_RES_2019,-DIAB_2019,-DPR_CHR_2019,-HBLPR_2019" data-toc-modified-id="Variables:-asthma_2019,-CHR_LW_RES_2019,-DIAB_2019,-DPR_CHR_2019,-HBLPR_2019-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Variables: asthma_2019, CHR_LW_RES_2019, DIAB_2019, DPR_CHR_2019, HBLPR_2019</a></span></li></ul></li><li><span><a href="#Daily-consumption-of-fruit-and-vegetables" data-toc-modified-id="Daily-consumption-of-fruit-and-vegetables-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Daily consumption of fruit and vegetables</a></span><ul class="toc-item"><li><span><a href="#Variables:-fruit_0,-fruit_1_4,-fruit_5" data-toc-modified-id="Variables:-fruit_0,-fruit_1_4,-fruit_5-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>Variables: fruit_0, fruit_1_4, fruit_5</a></span></li></ul></li><li><span><a href="#Deaths-(total)---csv-downloaded,-but-data-not-loaded" data-toc-modified-id="Deaths-(total)---csv-downloaded,-but-data-not-loaded-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Deaths (total) - csv downloaded, but data not loaded</a></span></li><li><span><a href="#Life-expectancy" data-toc-modified-id="Life-expectancy-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Life expectancy</a></span><ul class="toc-item"><li><span><a href="#Variables:-life_exp_2015,-life_exp_2019" data-toc-modified-id="Variables:-life_exp_2015,-life_exp_2019-3.7.1"><span class="toc-item-num">3.7.1&nbsp;&nbsp;</span>Variables: life_exp_2015, life_exp_2019</a></span></li></ul></li><li><span><a href="#Gross-domestic-product-(GDP)-at-current-market-prices" data-toc-modified-id="Gross-domestic-product-(GDP)-at-current-market-prices-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Gross domestic product (GDP) at current market prices</a></span><ul class="toc-item"><li><span><a href="#Varilables:-GDP_2014,-GDP_2019" data-toc-modified-id="Varilables:-GDP_2014,-GDP_2019-3.8.1"><span class="toc-item-num">3.8.1&nbsp;&nbsp;</span>Varilables: GDP_2014, GDP_2019</a></span></li></ul></li><li><span><a href="#crude-death-rate" data-toc-modified-id="crude-death-rate-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>crude death rate</a></span><ul class="toc-item"><li><span><a href="#Variables:-crude_death_rate_2014,-crude_death_rate_2018" data-toc-modified-id="Variables:-crude_death_rate_2014,-crude_death_rate_2018-3.9.1"><span class="toc-item-num">3.9.1&nbsp;&nbsp;</span>Variables: crude_death_rate_2014, crude_death_rate_2018</a></span></li></ul></li><li><span><a href="#Infant-mortality-rates" data-toc-modified-id="Infant-mortality-rates-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Infant mortality rates</a></span><ul class="toc-item"><li><span><a href="#Variables:-inf_mort_2014,-inf_mort_2019" data-toc-modified-id="Variables:-inf_mort_2014,-inf_mort_2019-3.10.1"><span class="toc-item-num">3.10.1&nbsp;&nbsp;</span>Variables: inf_mort_2014, inf_mort_2019</a></span></li></ul></li><li><span><a href="#Healthy-life-years" data-toc-modified-id="Healthy-life-years-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Healthy life years</a></span><ul class="toc-item"><li><span><a href="#Variables:-healthy_years_2014,-healthy_years_2019" data-toc-modified-id="Variables:-healthy_years_2014,-healthy_years_2019-3.11.1"><span class="toc-item-num">3.11.1&nbsp;&nbsp;</span>Variables: healthy_years_2014, healthy_years_2019</a></span></li></ul></li><li><span><a href="#Health-care-expenditure,-unit-of-measure:-euro-per-inhabitant" data-toc-modified-id="Health-care-expenditure,-unit-of-measure:-euro-per-inhabitant-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Health care expenditure, unit of measure: euro per inhabitant</a></span><ul class="toc-item"><li><span><a href="#Variables:-health_exp_2014,-health_exp_2019" data-toc-modified-id="Variables:-health_exp_2014,-health_exp_2019-3.12.1"><span class="toc-item-num">3.12.1&nbsp;&nbsp;</span>Variables: health_exp_2014, health_exp_2019</a></span></li></ul></li><li><span><a href="#Health-personnel-(excluding-nursing-and-caring-professionals)-Per-hundred-thousand-inhabitants" data-toc-modified-id="Health-personnel-(excluding-nursing-and-caring-professionals)-Per-hundred-thousand-inhabitants-3.13"><span class="toc-item-num">3.13&nbsp;&nbsp;</span>Health personnel (excluding nursing and caring professionals) Per hundred thousand inhabitants</a></span><ul class="toc-item"><li><span><a href="#Variables:-personnel_2014,-personnel_2018" data-toc-modified-id="Variables:-personnel_2014,-personnel_2018-3.13.1"><span class="toc-item-num">3.13.1&nbsp;&nbsp;</span>Variables: personnel_2014, personnel_2018</a></span></li></ul></li><li><span><a href="#Hospital-beds-Per-hundred-thousand-inhabitants" data-toc-modified-id="Hospital-beds-Per-hundred-thousand-inhabitants-3.14"><span class="toc-item-num">3.14&nbsp;&nbsp;</span>Hospital beds Per hundred thousand inhabitants</a></span><ul class="toc-item"><li><span><a href="#Variables:-hosp_beds2014,-hosp_beds2018" data-toc-modified-id="Variables:-hosp_beds2014,-hosp_beds2018-3.14.1"><span class="toc-item-num">3.14.1&nbsp;&nbsp;</span>Variables: hosp_beds2014, hosp_beds2018</a></span></li></ul></li><li><span><a href="#Employment-rate-by-sex" data-toc-modified-id="Employment-rate-by-sex-3.15"><span class="toc-item-num">3.15&nbsp;&nbsp;</span>Employment rate by sex</a></span><ul class="toc-item"><li><span><a href="#Variable:-unempl2019" data-toc-modified-id="Variable:-unempl2019-3.15.1"><span class="toc-item-num">3.15.1&nbsp;&nbsp;</span>Variable: unempl2019</a></span></li></ul></li><li><span><a href="#Households-with-access-to-the-internet-at-home" data-toc-modified-id="Households-with-access-to-the-internet-at-home-3.16"><span class="toc-item-num">3.16&nbsp;&nbsp;</span>Households with access to the internet at home</a></span><ul class="toc-item"><li><span><a href="#Variables-=-internet2019" data-toc-modified-id="Variables-=-internet2019-3.16.1"><span class="toc-item-num">3.16.1&nbsp;&nbsp;</span>Variables = internet2019</a></span></li></ul></li><li><span><a href="#Young-people-neither-in-employment-nor-in-education-and-training" data-toc-modified-id="Young-people-neither-in-employment-nor-in-education-and-training-3.17"><span class="toc-item-num">3.17&nbsp;&nbsp;</span>Young people neither in employment nor in education and training</a></span><ul class="toc-item"><li><span><a href="#Variables:-no_job_no_edu" data-toc-modified-id="Variables:-no_job_no_edu-3.17.1"><span class="toc-item-num">3.17.1&nbsp;&nbsp;</span>Variables: no_job_no_edu</a></span></li></ul></li><li><span><a href="#Mean-and-median-income-(in-cities,-in-euro)" data-toc-modified-id="Mean-and-median-income-(in-cities,-in-euro)-3.18"><span class="toc-item-num">3.18&nbsp;&nbsp;</span>Mean and median income (in cities, in euro)</a></span><ul class="toc-item"><li><span><a href="#Variables:-income2019" data-toc-modified-id="Variables:-income2019-3.18.1"><span class="toc-item-num">3.18.1&nbsp;&nbsp;</span>Variables: income2019</a></span></li></ul></li></ul></li><li><span><a href="#Creating-health-situation-before-covid" data-toc-modified-id="Creating-health-situation-before-covid-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creating health situation before covid</a></span><ul class="toc-item"><li><span><a href="#Droping-rows-that-have-at-least-70-%-na" data-toc-modified-id="Droping-rows-that-have-at-least-70-%-na-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Droping rows that have at least 70 % na</a></span></li></ul></li><li><span><a href="#Target-data:-excess-deaths" data-toc-modified-id="Target-data:-excess-deaths-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Target data: excess deaths</a></span></li><li><span><a href="#Master-dataframe" data-toc-modified-id="Master-dataframe-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Master dataframe</a></span></li></ul></div>

1. Collect data from Eurostat:
    
    - GDP
    
    - spending on healthcare
    
    - workers in healthcare
    
    - extra mortality
    
    - life expectancy
    
    - ...
    
2. Combine into one dataset

3. Scale datat

4. Clustering

In this case n=13 samples and p=22 variables, i.e., n<p. In the ideal case n should be greater than p. But cluster analysis is an exploratory technique and you can apply it anyway. First, you can apply a nonhierarchical cluster analysis (for example, Ward) to get the dendrogram and identify the number of K clusters. Next, you should apply KMeans with K cluster, where K was identified previously. Use the following R commands:
resulthc = hclust(dist(data),method='ward.D2',members=NULL) # ward method
plot(resulthc) # to make dendrogram
resultkmeans = kmeans(data,centers=K,iter.max=100,nstart=10) # KMeans with K clusters
resultkmeans$cluster # to see the cluster of each observation

5. PCA to visualize clustering (2D or 3D)

# Library imports

In [1]:
import pandas as pd

In [2]:
from functools import reduce

# Function to extract data

In [3]:
'''def read_file(path): 
    a = pd.read_csv(path)
    return a'''

'def read_file(path): \n    a = pd.read_csv(path)\n    return a'

In [4]:
'''def get_data(dataframe, col_start, col_end):
    new_dataframe = dataframe.iloc[:,col_start: col_end+1]
    return new_dataframe'''

'def get_data(dataframe, col_start, col_end):\n    new_dataframe = dataframe.iloc[:,col_start: col_end+1]\n    return new_dataframe'

In [5]:
#trial = read_file(path)

In [6]:
#trial2 = get_data(trial, 5, 8)

In [7]:
'''def divide_by_year(dataframe,year):
    new_data = [dataframe['TIME_PERIOD'] == year]
    #.rename(columns = {'OBS_VALUE': str(col_name)+str(year)})
    return new_data'''

"def divide_by_year(dataframe,year):\n    new_data = [dataframe['TIME_PERIOD'] == year]\n    #.rename(columns = {'OBS_VALUE': str(col_name)+str(year)})\n    return new_data"

In [8]:
#trial_2017 = divide_by_year(trial2,2008)

# Collecting data from Eurostat

## Obesity rate by body mass index (BMI)

The indicator measures the share of obese people based on their body mass index (BMI). BMI is defined as the weight in kilos divided by the square of the height in meters. People aged 18 years or over are considered obese with a BMI equal or greater than 30. Other categories are: underweight (BMI less than 18.5), normal weight (BMI between 18.5 and less than 25), and pre-obese (BMI between 25 and less than 30). The category overweight (BMI equal or greater than 25) combines the two categories pre-obese and obese.

In [9]:
obesity_rate = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/EU_obesity_rate.csv')

In [10]:
obesity_rate

,DATAFLOW,LAST UPDATE,freq,unit,bmi,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,AT,2008,49.3,NaN
1,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,AT,2014,48.0,NaN
2,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,AT,2017,50.0,NaN
3,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,AT,2019,52.2,NaN
4,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,BE,2008,47.5,NaN
...,...,...,...,...,...,...,...,...,...
108,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,TR,2008,50.6,NaN
109,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,TR,2014,56.5,NaN
110,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,TR,2019,58.8,NaN
111,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,UK,2014,55.7,NaN
112,ESTAT:SDG_02_10(1.0),22/10/21 23:00:00,A,PC,BMI_GE25,UK,2017,56.1,u

In [11]:
#Selecting columns of interest
obesity_rate = obesity_rate.iloc[:,5:8]

In [12]:
obestity_rate_2014 = obesity_rate[obesity_rate.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE': "Obesity_2014"}).drop(columns = 'TIME_PERIOD')

In [13]:
obestity_rate_2019 = obesity_rate[obesity_rate.TIME_PERIOD == 2019].rename(columns = {'OBS_VALUE': "Obesity_2019"}).drop(columns = 'TIME_PERIOD')

### Variables: obestity_rate_2014 (18 entries), obestity_rate_2019 (31 entries)

## People at risk of poverty or social exclusion

This indicator corresponds to the sum of persons who are: at risk of poverty or severely materially or socially deprived or living in households with very low work intensity. Persons are only counted once even if they are present in several sub-indicators. At risk-of-poverty are persons with an equivalised disposable income below the risk-of-poverty threshold, which is set at 60 % of the national median equivalised disposable income (after social transfers). Severely materially or socially deprived persons have living conditions severely constrained by a lack of resources, they experience at least 7 out of 13 following deprivations items: cannot afford i) to pay rent or utility bills, ii) keep home adequately warm, iii) face unexpected expenses, iv) eat meat, fish or a protein equivalent every second day, v) a week holiday away from home, vi) have access to a car/van for personal use; vii) replace worn out furniture; viii) replace worn-out clothes with some new ones; ix) have two pairs of properly fitting shoes; x) spend a small amount of money each week on him/herself (“pocket money”); xi) have regular leisure activities; xii) get together with friends/family for a drink/meal at least once a month; and xiii) have an internet connection. People living in households with very low work intensity are those aged 0-64 living in households where the adults (aged 18-64) work 20% or less of their total work potential during the past year. The indicator is based on the EU-SILC (statistics on income, social inclusion and living conditions).

In [14]:
people_risk_poverty = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/People_at_risk_of_poverty.csv')

In [15]:
people_risk_poverty

,DATAFLOW,LAST UPDATE,freq,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,AL,2016,69.7,NaN
1,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,AL,2017,58.5,NaN
2,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,AL,2018,53.9,NaN
3,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,AL,2019,50.8,NaN
4,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,AT,2015,16.9,NaN
...,...,...,...,...,...,...,...,...,...,...
221,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,TR,2019,33.2,NaN
222,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,UK,2015,23.1,NaN
223,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,UK,2016,21.9,NaN
224,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,UK,2017,21.8,b
225,ESTAT:TEPSR_LM411(1.0),22/10/21 23:00:00,A,T,TOTAL,PC,UK,2018,22.8,NaN

In [16]:
people_risk_poverty = people_risk_poverty.iloc[:,6:9].rename(columns = {"OBS_VALUE":"Poverty"})

In [17]:
people_risk_poverty_2015 = people_risk_poverty[people_risk_poverty.TIME_PERIOD == 2015].rename(columns = {'Poverty':'Poverty_risk_2015'}).drop(columns = 'TIME_PERIOD')

In [18]:
people_risk_poverty_2019 = people_risk_poverty[people_risk_poverty.TIME_PERIOD == 2019].rename(columns = {'Poverty':'Poverty_risk_2019'}).drop(columns = 'TIME_PERIOD')

### Variables: people_risk_poverty_2015, people_risk_poverty_2019

## The real gross disposable income of households per capita (index = 2008)

The real gross disposable income of households per capita (index = 2008) is calculated as the unadjusted gross disposable income of households and Non-Profit Institutions Serving Households (NPISH) divided by the price deflator (price index) of household final consumption expenditure and by the total resident population. Then the indicator is indexed with base year 2008. The indicator is based on European sector accounts.

In [19]:
gross_disposable_income = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/Gross_disposable_income.csv')

In [20]:
gross_disposable_income

,DATAFLOW,LAST UPDATE,freq,unit,direct,na_item,sector,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,AT,2005,95.64,NaN
1,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,AT,2006,97.52,NaN
2,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,AT,2007,99.31,NaN
3,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,AT,2008,100.00,NaN
4,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,AT,2009,99.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...
525,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,UK,2015,107.40,NaN
526,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,UK,2016,107.10,NaN
527,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,UK,2017,106.54,NaN
528,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,UK,2018,108.32,NaN
529,ESTAT:TEPSR_WC310(1.0),22/10/21 11:00:00,A,CP_MNAC,PAID,B6G_R_HAB_2008,S14_S15,UK,2019,109.30,NaN

In [21]:
gross_disposable_income_2014 = gross_disposable_income[gross_disposable_income.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE':'gro_disp_inc_2014'}).iloc[:,7:10].drop(columns = 'TIME_PERIOD')

In [22]:
gross_disposable_income_2019 = gross_disposable_income[gross_disposable_income.TIME_PERIOD == 2019].rename(columns = {'OBS_VALUE':'gro_disp_inc_2019'}).iloc[:,7:10].drop(columns = 'TIME_PERIOD')

### Variables: gross_disposable_income_2014, gross_disposable_income_2019

## Persons reporting a chronic disease, by disease
Asthma [ASTHMA]
Chronic lower respiratory diseases (excluding asthma) [CHR_LW_RES]
High blood pressure [HBLPR]
Diabetes [DIAB]
Chronic depression [DPR_CHR]

Unit of measure: Percentage

In [23]:
chronic_disease = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/Chronic_disease.csv')

In [24]:
chronic_disease

,DATAFLOW,LAST UPDATE,freq,unit,hlth_pb,isced11,sex,age,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,ASTHMA,TOTAL,T,TOTAL,AT,2019,4.3,NaN
1,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,CHR_LW_RES,TOTAL,T,TOTAL,AT,2019,4.6,NaN
2,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,DIAB,TOTAL,T,TOTAL,AT,2019,6.0,NaN
3,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,DPR_CHR,TOTAL,T,TOTAL,AT,2019,7.5,NaN
4,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,HBLPR,TOTAL,T,TOTAL,AT,2019,21.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
150,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,ASTHMA,TOTAL,T,TOTAL,TR,2019,9.0,NaN
151,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,CHR_LW_RES,TOTAL,T,TOTAL,TR,2019,7.1,NaN
152,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,DIAB,TOTAL,T,TOTAL,TR,2019,10.2,NaN
153,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,DPR_CHR,TOTAL,T,TOTAL,TR,2019,9.0,NaN
154,ESTAT:HLTH_EHIS_CD1E$DEFAULTVIEW(1.0),22/10/21 23:00:00,A,PC,HBLPR,TOTAL,T,TOTAL,TR,2019,16.4,NaN

In [25]:
asthma_2019 = chronic_disease[chronic_disease.hlth_pb=='ASTHMA'].iloc[:,8:11].rename(columns = {'OBS_VALUE':'asthma_2019'}).drop(columns = 'TIME_PERIOD')

In [26]:
CHR_LW_RES_2019 = chronic_disease[chronic_disease.hlth_pb=='CHR_LW_RES'].iloc[:,8:11].rename(columns = {'OBS_VALUE':'CHR_LW_RES_2019'}).drop(columns = 'TIME_PERIOD')

In [27]:
DIAB_2019 = chronic_disease[chronic_disease.hlth_pb=='DIAB'].iloc[:,8:11].rename(columns = {'OBS_VALUE':'DIAB_2019'}).drop(columns = 'TIME_PERIOD')

In [28]:
DPR_CHR_2019 = chronic_disease[chronic_disease.hlth_pb=='DPR_CHR'].iloc[:,8:11].rename(columns = {'OBS_VALUE':'DPR_CHR_2019'}).drop(columns = 'TIME_PERIOD')

In [29]:
HBLPR_2019 = chronic_disease[chronic_disease.hlth_pb=='HBLPR'].iloc[:,8:11].rename(columns = {'OBS_VALUE':'HBLPR_2019'}).drop(columns = 'TIME_PERIOD')

### Variables: asthma_2019, CHR_LW_RES_2019, DIAB_2019, DPR_CHR_2019, HBLPR_2019

## Daily consumption of fruit and vegetables

Number of portions 

0 portions [0]

From 1 to 4 portions [1-4]

5 portions or more [GE5]

In [30]:
fruit = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/Fruit_per_day.csv')

In [31]:
fruit

,DATAFLOW,LAST UPDATE,freq,unit,n_portion,quant_inc,sex,age,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,0,TOTAL,T,TOTAL,AT,2019,35.8,NaN
1,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,1-4,TOTAL,T,TOTAL,AT,2019,58.7,NaN
2,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,GE5,TOTAL,T,TOTAL,AT,2019,5.6,NaN
3,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,0,TOTAL,T,TOTAL,BE,2019,17.4,NaN
4,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,1-4,TOTAL,T,TOTAL,BE,2019,67.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
88,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,1-4,TOTAL,T,TOTAL,SK,2019,50.2,NaN
89,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,GE5,TOTAL,T,TOTAL,SK,2019,8.5,NaN
90,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,0,TOTAL,T,TOTAL,TR,2019,37.5,NaN
91,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,1-4,TOTAL,T,TOTAL,TR,2019,59.7,NaN
92,ESTAT:HLTH_EHIS_FV3I(1.0),22/10/21 23:00:00,A,PC,GE5,TOTAL,T,TOTAL,TR,2019,2.8,NaN

In [32]:
fruit_0 = fruit[fruit.n_portion == '0'].rename(columns = {'OBS_VALUE':'Fruit_0_day'}).iloc[:,8:11].drop(columns = 'TIME_PERIOD')

In [33]:
fruit_1_4 = fruit[fruit.n_portion == '1-4'].rename(columns = {'OBS_VALUE':'Fruit_1-4_day'}).iloc[:,8:11].drop(columns = 'TIME_PERIOD')

In [34]:
fruit_5 = fruit[fruit.n_portion == 'GE5'].rename(columns = {'OBS_VALUE':'Fruit_GE5'}).iloc[:,8:11].drop(columns = 'TIME_PERIOD')

### Variables: fruit_0, fruit_1_4, fruit_5

## Deaths (total) - csv downloaded, but data not loaded
https://ec.europa.eu/eurostat/databrowser/view/demo_r_deaths/default/table?lang=en

## Life expectancy

In [35]:
life_exp = pd.read_csv('/Users/ewawesolowska/Downloads/Life_expectancy.csv')

In [36]:
life_exp

,DATAFLOW,LAST UPDATE,freq,unit,sex,age,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,AL,2015,77.9,e
1,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,AL,2016,78.5,NaN
2,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,AL,2017,78.5,NaN
3,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,AL,2018,78.9,NaN
4,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,AL,2019,79.1,NaN
...,...,...,...,...,...,...,...,...,...,...
179,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,TR,2019,79.1,NaN
180,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,UK,2015,81.0,NaN
181,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,UK,2016,81.2,NaN
182,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,UK,2017,81.3,NaN
183,ESTAT:DEMO_R_MLIFEXP$DEFAULTVIEW(1.0),03/06/21 11:00:00,A,YR,T,Y_LT1,UK,2018,81.3,NaN

In [37]:
life_exp_2015 = life_exp[life_exp.TIME_PERIOD == 2015].rename(columns = {'OBS_VALUE': "life_exp_2015"}).iloc[:,6:9].drop(columns = 'TIME_PERIOD')

In [38]:
life_exp_2019 = life_exp[life_exp.TIME_PERIOD == 2019].rename(columns = {'OBS_VALUE': "life_exp_2019"}).iloc[:,6:9].drop(columns = 'TIME_PERIOD')

### Variables: life_exp_2015, life_exp_2019

## Gross domestic product (GDP) at current market prices 
https://ec.europa.eu/eurostat/databrowser/view/nama_10r_2gdp/default/table?lang=en

In [39]:
GDP = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/GDP.csv')

In [40]:
GDP

,DATAFLOW,LAST UPDATE,freq,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,AL,2010,8996.63,NaN
1,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,AL,2011,9268.32,b
2,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,AL,2012,9585.81,NaN
3,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,AL,2013,9625.36,NaN
4,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,AL,2014,9968.60,NaN
...,...,...,...,...,...,...,...,...
327,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,TR,2015,777042.14,NaN
328,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,TR,2016,785619.00,NaN
329,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,TR,2017,760497.01,NaN
330,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,TR,2018,658464.18,NaN
331,ESTAT:NAMA_10R_2GDP$DEFAULTVIEW(1.0),14/07/21 23:00:00,A,MIO_EUR,TR,2019,679510.37,NaN

In [41]:
GDP_2014 = GDP[GDP.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE': 'GDP_2014'}).iloc[:,4:7].drop(columns = 'TIME_PERIOD')

In [42]:
GDP_2019 = GDP[GDP.TIME_PERIOD == 2019].rename(columns = {'OBS_VALUE': 'GDP_2019'}).iloc[:,4:7].drop(columns = 'TIME_PERIOD')

### Varilables: GDP_2014, GDP_2019

## crude death rate
https://ec.europa.eu/eurostat/databrowser/view/hlth_cd_acdr2/default/table?lang=en

In [43]:
crude_death_rate = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/Crude_death_rate.csv')

In [44]:
crude_death_rate

,DATAFLOW,LAST UPDATE,freq,unit,sex,age,icd10,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,AT,2011,900.93,NaN
1,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,AT,2012,932.10,NaN
2,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,AT,2013,927.50,NaN
3,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,AT,2014,905.81,NaN
4,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,AT,2015,948.72,NaN
...,...,...,...,...,...,...,...,...,...,...,...
277,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,UK,2014,883.30,NaN
278,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,UK,2015,921.04,NaN
279,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,UK,2016,916.20,NaN
280,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,UK,2017,923.74,p
281,ESTAT:HLTH_CD_ACDR2$DEFAULTVIEW(1.0),12/10/21 11:00:00,A,RT,T,TOTAL,A-R_V-Y,UK,2018,918.89,p

In [45]:
crude_death_rate_2014 = crude_death_rate[crude_death_rate.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE':'cr_death_rt_2014'}).iloc[:,7:10].drop(columns = 'TIME_PERIOD')

In [46]:
crude_death_rate_2018 = crude_death_rate[crude_death_rate.TIME_PERIOD == 2018].rename(columns = {'OBS_VALUE':'cr_death_rt_2018'}).iloc[:,7:10].drop(columns = 'TIME_PERIOD')

### Variables: crude_death_rate_2014, crude_death_rate_2018

## Infant mortality rates
https://ec.europa.eu/eurostat/databrowser/view/demo_minfind/default/table?lang=en

In [47]:
inf_mort = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/Infant_mortality.csv')

In [48]:
inf_mort

,DATAFLOW,LAST UPDATE,freq,unit,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,AD,2010,0.0,NaN
1,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,AD,2018,1.8,NaN
2,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,AL,2010,9.6,NaN
3,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,AL,2011,8.7,NaN
4,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,AL,2012,8.8,NaN
...,...,...,...,...,...,...,...,...,...
524,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,XK,2015,9.7,NaN
525,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,XK,2016,8.5,NaN
526,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,XK,2017,9.7,NaN
527,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,XK,2018,10.6,NaN
528,ESTAT:DEMO_MINFIND$DEFAULTVIEW(1.0),19/05/21 11:00:00,A,RT,INFMORRT,XK,2019,8.7,NaN

In [49]:
inf_mort_2014 = inf_mort[inf_mort.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE':'inf_mort_2014'}).iloc[:,5:8].drop(columns = 'TIME_PERIOD')

In [50]:
inf_mort_2019 = inf_mort[inf_mort.TIME_PERIOD == 2019].rename(columns = {'OBS_VALUE':'inf_mort_2019'}).iloc[:,5:8].drop(columns = 'TIME_PERIOD')

### Variables: inf_mort_2014, inf_mort_2019

## Healthy life years
https://ec.europa.eu/eurostat/databrowser/view/hlth_hlye/default/table?lang=en

In [51]:
healthy_years = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/healthy_life_years.csv')

In [52]:
healthy_years

,DATAFLOW,LAST UPDATE,freq,unit,sex,indic_he,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,AT,2010,60.1,NaN
1,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,AT,2011,59.8,NaN
2,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,AT,2012,61.4,NaN
3,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,AT,2013,59.9,NaN
4,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,AT,2014,57.7,NaN
...,...,...,...,...,...,...,...,...,...,...
319,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,UK,2014,63.8,NaN
320,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,UK,2015,63.5,NaN
321,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,UK,2016,63.1,NaN
322,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,UK,2017,62.7,NaN
323,ESTAT:HLTH_HLYE$DEFAULTVIEW(1.0),11/03/21 23:00:00,A,YR,T,HLY_0,UK,2018,61.2,NaN

In [53]:
healthy_years_2014 = healthy_years[healthy_years.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE':'healthy_y_2014'}).iloc[:,6:9].drop(columns = 'TIME_PERIOD')

In [54]:
healthy_years_2019 = healthy_years[healthy_years.TIME_PERIOD == 2019].rename(columns = {'OBS_VALUE':'healthy_y_2019'}).iloc[:,6:9].drop(columns = 'TIME_PERIOD')

### Variables: healthy_years_2014, healthy_years_2019

## Health care expenditure, unit of measure: euro per inhabitant
https://ec.europa.eu/eurostat/databrowser/view/hlth_sha11_hp/default/table?lang=en

In [55]:
health_exp = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/health_exp.csv')

In [56]:
health_exp

,DATAFLOW,LAST UPDATE,freq,unit,icha11_hp,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,AT,2010,3616.19,NaN
1,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,AT,2011,3705.34,NaN
2,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,AT,2012,3855.27,NaN
3,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,AT,2013,3928.93,NaN
4,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,AT,2014,4041.59,NaN
...,...,...,...,...,...,...,...,...,...
306,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,UK,2014,3560.23,NaN
307,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,UK,2015,4016.93,NaN
308,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,UK,2016,3661.85,NaN
309,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,UK,2017,3514.72,NaN
310,ESTAT:HLTH_SHA11_HP(1.0),13/10/21 11:00:00,A,EUR_HAB,TOTAL,UK,2018,3645.78,NaN

In [57]:
health_exp_2014 = health_exp[health_exp.TIME_PERIOD  == 2014].rename(columns = {'OBS_VALUE':'health_exp_2014'}).iloc[:,5:8].drop(columns = 'TIME_PERIOD')

In [58]:
health_exp_2019 = health_exp[health_exp.TIME_PERIOD  == 2019].rename(columns = {'OBS_VALUE':'health_exp_2019'}).iloc[:,5:8].drop(columns = 'TIME_PERIOD')

### Variables: health_exp_2014, health_exp_2019

## Health personnel (excluding nursing and caring professionals) Per hundred thousand inhabitants
https://ec.europa.eu/eurostat/databrowser/view/HLTH_RS_PRS1__custom_1470555/default/table?lang=en

In [59]:
personnel = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/Personnel.csv')

In [60]:
personnel

,DATAFLOW,LAST UPDATE,freq,unit,wstatus,isco08,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,AL,2011,123.16,NaN
1,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,AL,2012,127.43,NaN
2,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,AL,2013,128.11,NaN
3,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,AT,2011,484.22,NaN
4,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,AT,2012,489.54,NaN
...,...,...,...,...,...,...,...,...,...,...
252,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,UK,2014,274.53,NaN
253,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,UK,2015,277.11,b
254,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,UK,2016,278.20,NaN
255,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,UK,2017,281.10,NaN
256,ESTAT:HLTH_RS_PRS1(1.0),02/07/21 11:00:00,A,P_HTHAB,PRACT,OC221,UK,2018,284.05,NaN

In [61]:
personnel_2014 = personnel[personnel.TIME_PERIOD == 2014].rename(columns = {'OBS_VALUE':'personnel_2014'}).iloc[:,6:9].drop(columns = 'TIME_PERIOD')

In [62]:
personnel_2018 = personnel[personnel.TIME_PERIOD == 2018].rename(columns = {'OBS_VALUE':'personnel_2018'}).iloc[:,6:9].drop(columns = 'TIME_PERIOD')

### Variables: personnel_2014, personnel_2018

## Hospital beds Per hundred thousand inhabitants
https://ec.europa.eu/eurostat/databrowser/view/hlth_rs_bds/default/table?lang=en

In [63]:
hosp_beds = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/hospital_beds.csv')

In [64]:
hosp_beds

,DATAFLOW,LAST UPDATE,freq,unit,facility,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,AL,2011,288.24,NaN
1,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,AL,2012,288.44,NaN
2,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,AL,2013,288.97,NaN
3,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,AT,2011,767.63,NaN
4,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,AT,2012,767.39,NaN
...,...,...,...,...,...,...,...,...,...
337,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,UK,2014,272.94,NaN
338,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,UK,2015,261.06,NaN
339,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,UK,2016,257.48,NaN
340,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,UK,2017,253.70,NaN
341,ESTAT:HLTH_RS_BDS$DEFAULTVIEW(1.0),02/07/21 11:00:00,A,P_HTHAB,HBEDT,UK,2018,249.54,NaN

In [65]:
hosp_beds2014 = hosp_beds[hosp_beds.TIME_PERIOD== 2014].rename(columns = {'OBS_VALUE':'hosp_beds2014'}).iloc[:,5:8].drop(columns = 'TIME_PERIOD')

In [66]:
hosp_beds2018 = hosp_beds[hosp_beds.TIME_PERIOD== 2018].rename(columns = {'OBS_VALUE':'hosp_beds2018'}).iloc[:,5:8].drop(columns = 'TIME_PERIOD')

### Variables: hosp_beds2014, hosp_beds2018

## Employment rate by sex
https://ec.europa.eu/eurostat/databrowser/view/tesem010/default/table?lang=en

In [67]:
unempl2019 = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/unemployment_2019.csv')

In [68]:
unempl2019 = unempl2019.iloc[:,7:10].rename(columns = {'OBS_VALUE':'unempl2019'}).drop(columns = 'TIME_PERIOD')

### Variable: unempl2019

## Households with access to the internet at home
https://ec.europa.eu/eurostat/databrowser/view/isoc_r_iacc_h/default/table?lang=en

In [69]:
internet2019 = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/internet_access2019csv.csv')

In [70]:
internet2019 = internet2019.iloc[:,4:7].rename(columns = {'OBS_VALUE':'int_access2019'}).drop(columns = 'TIME_PERIOD')

### Variables = internet2019

## Young people neither in employment nor in education and training
https://ec.europa.eu/eurostat/databrowser/view/edat_lfse_29/default/table?lang=en

In [71]:
no_job_no_edu = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/people_no_job_no_edu.csv')

In [72]:
no_job_no_edu = no_job_no_edu.iloc[:,9:12].rename(columns = {'OBS_VALUE':'no_job_no_edu'}).drop(columns = 'TIME_PERIOD')

### Variables: no_job_no_edu

## Mean and median income (in cities, in euro)
https://ec.europa.eu/eurostat/databrowser/view/ILC_DI17__custom_1504248/default/table?lang=en

In [73]:
income2019 = pd.read_csv('/Users/ewawesolowska/Documents/Data_Analytics/Final project/income2019.csv')

In [74]:
income2019 = income2019.iloc[:,8:11].rename(columns = {'OBS_VALUE':'income2019'}).drop(columns = 'TIME_PERIOD')

### Variables: income2019

# Creating health situation before covid

In [75]:
df_health_list = [obestity_rate_2014, obestity_rate_2019, 
                  asthma_2019, CHR_LW_RES_2019, DIAB_2019, DPR_CHR_2019, HBLPR_2019,
                   fruit_0, fruit_1_4, fruit_5,
                   life_exp_2015, life_exp_2019,
                   crude_death_rate_2014, crude_death_rate_2018,
                   inf_mort_2014, inf_mort_2019,
                   healthy_years_2014, healthy_years_2019]

In [76]:
df_economy_list = [people_risk_poverty_2015, people_risk_poverty_2019, 
                    gross_disposable_income_2014, gross_disposable_income_2019,
                   GDP_2014, GDP_2019,
                    health_exp_2014, health_exp_2019,
                    personnel_2014, personnel_2018,
                    hosp_beds2014, hosp_beds2018,
                    unempl2019,
                    internet2019,
                    no_job_no_edu,
                    income2019]

In [77]:
number_of_variables = len(df_health_list) + len(df_economy_list)

In [78]:
all_variables = df_health_list + df_economy_list

In [79]:
number_of_variables

34

In [80]:
df_all = reduce(lambda  left,right: pd.merge(left,right,on=['geo'],
                                            how='outer'), all_variables)

In [81]:
df_all

,geo,Obesity_2014,Obesity_2019,asthma_2019,CHR_LW_RES_2019,DIAB_2019,DPR_CHR_2019,HBLPR_2019,Fruit_0_day,Fruit_1-4_day,...,health_exp_2014,health_exp_2019,personnel_2014,personnel_2018,hosp_beds2014,hosp_beds2018,unempl2019,int_access2019,no_job_no_edu,income2019
0,AT,48.0,52.2,4.3,4.6,6.0,7.5,21.8,35.8,58.7,...,4041.59,4671.57,504.61,524.14,758.39,727.16,76.8,90.0,9.2,28094.0
1,BE,49.3,50.2,5.8,4.0,5.8,7.3,17.4,17.4,67.5,...,3808.94,4418.10,297.55,312.96,585.15,562.24,70.5,90.0,12.8,24193.0
2,BG,54.0,54.9,2.2,3.2,6.9,2.7,29.7,47.1,47.8,...,457.59,625.59,397.75,421.71,712.98,756.91,74.7,75.0,17.5,7051.0
3,CY,48.3,49.8,4.0,2.9,7.0,4.7,18.9,33.2,58.8,...,1421.46,1771.20,337.83,407.32,341.58,318.25,75.7,90.0,14.6,21492.0
4,CZ,56.8,60.0,4.6,2.2,8.8,4.4,26.3,48.2,44.1,...,1139.09,1644.12,NaN,403.76,667.63,661.82,80.3,87.0,13.2,11996.0
5,DE,52.1,53.5,8.0,5.9,8.7,11.6,26.2,33.2,55.9,...,3984.18,4855.33,410.82,431.09,822.82,798.35,80.6,95.0,9.3,26128.0
6,DK,47.7,50.4,7.2,3.4,5.3,10.0,18.9,38.6,38.5,...,4790.05,5355.06,387.74,419.44,268.88,261.17,78.3,95.0,10.0,33932.0
7,EE,53.9,56.7,4.1,2.5,6.0,7.0,23.3,39.4,47.3,...,933.47,1425.95,335.88,348.34,489.53,453.49,80.2,90.0,11.6,13193.0
8,EL,56.7,57.6,3.3,1.9,8.0,3.8,19.6,33.1,54.5,...,1287.54,1340.82,NaN,NaN,423.78,419.77,61.2,79.0,20.7,10068.0
9,ES,52.4,53.7,4.1,2.7,7.5,5.7,19.3,23.4,65.7,...,2018.39,2411.68,380.08,402.08,296.63,297.15,68.0,91.0,16.0,19135.0
10,EU27_2020,51.1,52.7,5.7,4.3,7.4,7.2,21.9,32.9,54.7,...,2657.87,NaN,NaN,NaN,551.89,538.18,73.2,NaN,14.0,20620.0
11,EU28,51.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2772.65,NaN,NaN,NaN,516.41,500.78,NaN,NaN,13.6,21563.0
12,FI,54.7,59.0,9.4,3.3,9.5,8.8,27.3,37.5,49.0,...,3705.37,3982.94,320.63,NaN,453.01,361.18,77.2,94.0,10.3,30065.0
13,FR,47.2,47.2,7.8,6.3,7.3,7.7,16.5,25.2,55.3,...,3742.57,4008.11,309.21,314.44,619.68,590.85,72.3,90.0,14.0,27062.0
14,HR,57.4,64.8,4.8,5.5,12.1,11.6,37.3,28.5,61.7,...,686.44,930.62,314.02,344.06,590.62,561.25,66.7,81.0,15.0,9227.0
15,HU,55.2,59.9,5.0,4.2,8.9,4.0,31.5,36.3,55.5,...,758.94,949.42,332.35,338.37,698.43,695.07,75.3,86.0,14.6,7458.0
16,IE,55.7,54.4,7.3,2.1,3.5,3.9,11.6,19.0,48.1,...,3994.90,4819.65,301.20,327.94,257.40,297.39,75.1,91.0,12.6,32644.0
17,IS,57.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3386.34,5269.58,364.40,389.26,316.14,287.48,85.9,98.0,5.7,NaN
18,IT,44.9,45.7,4.6,4.3,6.5,5.3,20.4,23.8,65.7,...,2374.06,2599.22,388.04,397.71,321.09,314.05,63.5,85.0,23.8,20570.0
19,LT,55.6,56.8,2.8,6.4,5.3,7.0,29.9,41.0,43.1,...,772.61,1223.82,430.74,459.78,726.38,643.40,78.2,82.0,11.6,10871.0
20,LU,48.0,48.4,6.0,5.0,4.6,10.0,15.5,48.1,38.3,...,4869.32,5502.10,288.14,NaN,505.29,450.70,72.8,95.0,6.9,48452.0
21,LV,56.5,58.3,3.8,3.6,5.7,8.4,31.7,53.9,38.9,...,647.40,1045.62,321.60,330.38,565.71,549.35,77.4,85.0,12.0,10852.0
22,MT,61.0,64.8,6.0,0.6,7.5,3.5,18.1,36.4,52.1,...,1829.54,NaN,360.37,397.21,458.86,430.84,76.8,86.0,9.6,17290.0
23,NL,49.4,50.0,6.4,5.0,5.8,8.3,16.1,41.8,28.7,...,4207.78,4748.67,342.50,367.22,354.55,321.44,80.1,98.0,7.0,27213.0
24,NO,49.3,50.6,7.9,2.5,4.5,8.4,15.1,29.2,62.2,...,6838.71,7126.69,442.92,485.78,384.47,352.74,79.5,98.0,7.3,43538.0
25,PL,54.7,58.1,4.1,2.7,8.1,4.2,26.5,37.5,53.9,...,675.61,NaN,230.68,NaN,662.70,653.69,73.0,87.0,13.4,9317.0
26,PT,53.6,55.9,6.1,5.5,10.0,12.2,26.6,27.4,58.2,...,1554.48,1982.50,NaN,NaN,331.91,344.32,76.1,81.0,9.5,12962.0
27,RO,55.8,58.7,1.5,1.2,5.0,1.0,15.7,73.6,24.0,...,380.14,661.28,269.83,304.70,671.15,696.83,70.9,84.0,17.3,6196.0
28,SE,49.9,51.3,7.5,1.6,6.3,11.7,18.2,37.7,54.6,...,4954.90,5041.77,410.98,431.74,253.79,213.33,82.1,96.0,6.4,27419.0
29,SI,56.6,58.1,4.8,3.6,7.8,15.1,25.4,31.9,62.8,...,1551.74,1975.17,277.02,317.81,453.74,442.79,76.4,89.0,9.0,16048.0
30,SK,54.2,58.7,4.0,2.9,7.6,4.3,28.4,41.3,50.2,...,970.05,1198.03,NaN,NaN,578.52,569.62,73.4,82.0,17.2,9869.0
31,TR,56.5,58.8,9.0,7.1,10.2,9.0,16.4,37.5,59.7,...,NaN,NaN,NaN,NaN,267.99,284.88,53.8,88.0,30.9,NaN
32,UK,55.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3560.23,NaN,274.53,284.05,272.94,249.54,NaN,96.0,11.7,NaN
33,RS,NaN,53.6,3.6,3.5,7.8,4.3,29.6,44.6,47.3,...,NaN,NaN,NaN,298.23,552.48,564.25,65.2,80.0,19.9,4348.0
34,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,3195.0
35,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7181.75,8604.56,412.58,433.86,473.39,462.76,82.9,96.0,6.7,50931.0
36,LI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7598.39,8625.71,319.48,352.98,163.77,101.97,NaN,NaN,NaN,NaN
37,ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,217.11,276.41,393.37,391.31,60.8,74.0,24.2,NaN
38,MK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,439.57,421.63,59.2,82.0,26.7,3217.0
39,AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,BY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,DE_TOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,EA18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3107.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23003.0
44,EA19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3087.72,NaN,NaN,NaN,NaN,NaN,72.7,NaN,14.1,22890.0
45,EEA30_2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,EEA31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,EFTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,EU27_2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2790.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20703.0
49,GE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,MD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,RU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,XK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,NaN,NaN
54,EA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22890.0
55,EU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21563.0
56,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,346.05,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN,NaN
57,EU15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4,NaN

## Droping rows that have at least 70 % na

In [82]:
df_all.shape[1]

35

In [83]:
df_all.isnull().sum()

geo                   0
Obesity_2014         25
Obesity_2019         27
asthma_2019          27
CHR_LW_RES_2019      27
DIAB_2019            27
DPR_CHR_2019         27
HBLPR_2019           27
Fruit_0_day          27
Fruit_1-4_day        27
Fruit_GE5            27
life_exp_2015        21
life_exp_2019        22
cr_death_rt_2014     22
cr_death_rt_2018     25
inf_mort_2014         5
inf_mort_2019        13
healthy_y_2014       25
healthy_y_2019       28
Poverty_risk_2015    18
Poverty_risk_2019    21
gro_disp_inc_2014    24
gro_disp_inc_2019    26
GDP_2014             25
GDP_2019             25
health_exp_2014      20
health_exp_2019      29
personnel_2014       29
personnel_2018       30
hosp_beds2014        20
hosp_beds2018        20
unempl2019           22
int_access2019       20
no_job_no_edu        19
income2019           19
dtype: int64

thresh=N requires that a column has at least N non-NaNs to survive

In [84]:
threshold = 60.0
min_count =  int(((100-threshold)/100)*df_all.shape[1] + 1)
df_all = df_all.dropna( axis=0, thresh=min_count)

In [85]:
df_all.shape

(36, 35)

In [86]:
df_all

,geo,Obesity_2014,Obesity_2019,asthma_2019,CHR_LW_RES_2019,DIAB_2019,DPR_CHR_2019,HBLPR_2019,Fruit_0_day,Fruit_1-4_day,...,health_exp_2014,health_exp_2019,personnel_2014,personnel_2018,hosp_beds2014,hosp_beds2018,unempl2019,int_access2019,no_job_no_edu,income2019
0,AT,48.0,52.2,4.3,4.6,6.0,7.5,21.8,35.8,58.7,...,4041.59,4671.57,504.61,524.14,758.39,727.16,76.8,90.0,9.2,28094.0
1,BE,49.3,50.2,5.8,4.0,5.8,7.3,17.4,17.4,67.5,...,3808.94,4418.10,297.55,312.96,585.15,562.24,70.5,90.0,12.8,24193.0
2,BG,54.0,54.9,2.2,3.2,6.9,2.7,29.7,47.1,47.8,...,457.59,625.59,397.75,421.71,712.98,756.91,74.7,75.0,17.5,7051.0
3,CY,48.3,49.8,4.0,2.9,7.0,4.7,18.9,33.2,58.8,...,1421.46,1771.20,337.83,407.32,341.58,318.25,75.7,90.0,14.6,21492.0
4,CZ,56.8,60.0,4.6,2.2,8.8,4.4,26.3,48.2,44.1,...,1139.09,1644.12,NaN,403.76,667.63,661.82,80.3,87.0,13.2,11996.0
5,DE,52.1,53.5,8.0,5.9,8.7,11.6,26.2,33.2,55.9,...,3984.18,4855.33,410.82,431.09,822.82,798.35,80.6,95.0,9.3,26128.0
6,DK,47.7,50.4,7.2,3.4,5.3,10.0,18.9,38.6,38.5,...,4790.05,5355.06,387.74,419.44,268.88,261.17,78.3,95.0,10.0,33932.0
7,EE,53.9,56.7,4.1,2.5,6.0,7.0,23.3,39.4,47.3,...,933.47,1425.95,335.88,348.34,489.53,453.49,80.2,90.0,11.6,13193.0
8,EL,56.7,57.6,3.3,1.9,8.0,3.8,19.6,33.1,54.5,...,1287.54,1340.82,NaN,NaN,423.78,419.77,61.2,79.0,20.7,10068.0
9,ES,52.4,53.7,4.1,2.7,7.5,5.7,19.3,23.4,65.7,...,2018.39,2411.68,380.08,402.08,296.63,297.15,68.0,91.0,16.0,19135.0
10,EU27_2020,51.1,52.7,5.7,4.3,7.4,7.2,21.9,32.9,54.7,...,2657.87,NaN,NaN,NaN,551.89,538.18,73.2,NaN,14.0,20620.0
12,FI,54.7,59.0,9.4,3.3,9.5,8.8,27.3,37.5,49.0,...,3705.37,3982.94,320.63,NaN,453.01,361.18,77.2,94.0,10.3,30065.0
13,FR,47.2,47.2,7.8,6.3,7.3,7.7,16.5,25.2,55.3,...,3742.57,4008.11,309.21,314.44,619.68,590.85,72.3,90.0,14.0,27062.0
14,HR,57.4,64.8,4.8,5.5,12.1,11.6,37.3,28.5,61.7,...,686.44,930.62,314.02,344.06,590.62,561.25,66.7,81.0,15.0,9227.0
15,HU,55.2,59.9,5.0,4.2,8.9,4.0,31.5,36.3,55.5,...,758.94,949.42,332.35,338.37,698.43,695.07,75.3,86.0,14.6,7458.0
16,IE,55.7,54.4,7.3,2.1,3.5,3.9,11.6,19.0,48.1,...,3994.90,4819.65,301.20,327.94,257.40,297.39,75.1,91.0,12.6,32644.0
17,IS,57.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3386.34,5269.58,364.40,389.26,316.14,287.48,85.9,98.0,5.7,NaN
18,IT,44.9,45.7,4.6,4.3,6.5,5.3,20.4,23.8,65.7,...,2374.06,2599.22,388.04,397.71,321.09,314.05,63.5,85.0,23.8,20570.0
19,LT,55.6,56.8,2.8,6.4,5.3,7.0,29.9,41.0,43.1,...,772.61,1223.82,430.74,459.78,726.38,643.40,78.2,82.0,11.6,10871.0
20,LU,48.0,48.4,6.0,5.0,4.6,10.0,15.5,48.1,38.3,...,4869.32,5502.10,288.14,NaN,505.29,450.70,72.8,95.0,6.9,48452.0
21,LV,56.5,58.3,3.8,3.6,5.7,8.4,31.7,53.9,38.9,...,647.40,1045.62,321.60,330.38,565.71,549.35,77.4,85.0,12.0,10852.0
22,MT,61.0,64.8,6.0,0.6,7.5,3.5,18.1,36.4,52.1,...,1829.54,NaN,360.37,397.21,458.86,430.84,76.8,86.0,9.6,17290.0
23,NL,49.4,50.0,6.4,5.0,5.8,8.3,16.1,41.8,28.7,...,4207.78,4748.67,342.50,367.22,354.55,321.44,80.1,98.0,7.0,27213.0
24,NO,49.3,50.6,7.9,2.5,4.5,8.4,15.1,29.2,62.2,...,6838.71,7126.69,442.92,485.78,384.47,352.74,79.5,98.0,7.3,43538.0
25,PL,54.7,58.1,4.1,2.7,8.1,4.2,26.5,37.5,53.9,...,675.61,NaN,230.68,NaN,662.70,653.69,73.0,87.0,13.4,9317.0
26,PT,53.6,55.9,6.1,5.5,10.0,12.2,26.6,27.4,58.2,...,1554.48,1982.50,NaN,NaN,331.91,344.32,76.1,81.0,9.5,12962.0
27,RO,55.8,58.7,1.5,1.2,5.0,1.0,15.7,73.6,24.0,...,380.14,661.28,269.83,304.70,671.15,696.83,70.9,84.0,17.3,6196.0
28,SE,49.9,51.3,7.5,1.6,6.3,11.7,18.2,37.7,54.6,...,4954.90,5041.77,410.98,431.74,253.79,213.33,82.1,96.0,6.4,27419.0
29,SI,56.6,58.1,4.8,3.6,7.8,15.1,25.4,31.9,62.8,...,1551.74,1975.17,277.02,317.81,453.74,442.79,76.4,89.0,9.0,16048.0
30,SK,54.2,58.7,4.0,2.9,7.6,4.3,28.4,41.3,50.2,...,970.05,1198.03,NaN,NaN,578.52,569.62,73.4,82.0,17.2,9869.0
31,TR,56.5,58.8,9.0,7.1,10.2,9.0,16.4,37.5,59.7,...,NaN,NaN,NaN,NaN,267.99,284.88,53.8,88.0,30.9,NaN
32,UK,55.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3560.23,NaN,274.53,284.05,272.94,249.54,NaN,96.0,11.7,NaN
33,RS,NaN,53.6,3.6,3.5,7.8,4.3,29.6,44.6,47.3,...,NaN,NaN,NaN,298.23,552.48,564.25,65.2,80.0,19.9,4348.0
35,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7181.75,8604.56,412.58,433.86,473.39,462.76,82.9,96.0,6.7,50931.0
37,ME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,217.11,276.41,393.37,391.31,60.8,74.0,24.2,NaN
38,MK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,439.57,421.63,59.2,82.0,26.7,3217.0

Non-EU countries with nans will be removed

In [87]:
df_all.drop(df_all[df_all.geo == 'CH'].index, inplace = True)

df_all.drop(df_all[df_all.geo == 'IS'].index, inplace = True)

df_all.drop(df_all[df_all.geo == 'RS'].index, inplace = True)

/Users/ewawesolowska/opt/anaconda3/envs/DataAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [88]:
df_all.drop(df_all[df_all.geo == 'ME'].index, inplace = True)

df_all.drop(df_all[df_all.geo == 'MK'].index, inplace = True)

In [89]:
df_all.drop(df_all[df_all.geo == 'UK'].index, inplace = True)

In [90]:
df_all.drop(df_all[df_all.geo == 'NO'].index, inplace = True)

In [91]:
df_all.drop(df_all[df_all.geo == 'TR'].index, inplace = True)

In [92]:
df_all

,geo,Obesity_2014,Obesity_2019,asthma_2019,CHR_LW_RES_2019,DIAB_2019,DPR_CHR_2019,HBLPR_2019,Fruit_0_day,Fruit_1-4_day,...,health_exp_2014,health_exp_2019,personnel_2014,personnel_2018,hosp_beds2014,hosp_beds2018,unempl2019,int_access2019,no_job_no_edu,income2019
0,AT,48.0,52.2,4.3,4.6,6.0,7.5,21.8,35.8,58.7,...,4041.59,4671.57,504.61,524.14,758.39,727.16,76.8,90.0,9.2,28094.0
1,BE,49.3,50.2,5.8,4.0,5.8,7.3,17.4,17.4,67.5,...,3808.94,4418.10,297.55,312.96,585.15,562.24,70.5,90.0,12.8,24193.0
2,BG,54.0,54.9,2.2,3.2,6.9,2.7,29.7,47.1,47.8,...,457.59,625.59,397.75,421.71,712.98,756.91,74.7,75.0,17.5,7051.0
3,CY,48.3,49.8,4.0,2.9,7.0,4.7,18.9,33.2,58.8,...,1421.46,1771.20,337.83,407.32,341.58,318.25,75.7,90.0,14.6,21492.0
4,CZ,56.8,60.0,4.6,2.2,8.8,4.4,26.3,48.2,44.1,...,1139.09,1644.12,NaN,403.76,667.63,661.82,80.3,87.0,13.2,11996.0
5,DE,52.1,53.5,8.0,5.9,8.7,11.6,26.2,33.2,55.9,...,3984.18,4855.33,410.82,431.09,822.82,798.35,80.6,95.0,9.3,26128.0
6,DK,47.7,50.4,7.2,3.4,5.3,10.0,18.9,38.6,38.5,...,4790.05,5355.06,387.74,419.44,268.88,261.17,78.3,95.0,10.0,33932.0
7,EE,53.9,56.7,4.1,2.5,6.0,7.0,23.3,39.4,47.3,...,933.47,1425.95,335.88,348.34,489.53,453.49,80.2,90.0,11.6,13193.0
8,EL,56.7,57.6,3.3,1.9,8.0,3.8,19.6,33.1,54.5,...,1287.54,1340.82,NaN,NaN,423.78,419.77,61.2,79.0,20.7,10068.0
9,ES,52.4,53.7,4.1,2.7,7.5,5.7,19.3,23.4,65.7,...,2018.39,2411.68,380.08,402.08,296.63,297.15,68.0,91.0,16.0,19135.0
10,EU27_2020,51.1,52.7,5.7,4.3,7.4,7.2,21.9,32.9,54.7,...,2657.87,NaN,NaN,NaN,551.89,538.18,73.2,NaN,14.0,20620.0
12,FI,54.7,59.0,9.4,3.3,9.5,8.8,27.3,37.5,49.0,...,3705.37,3982.94,320.63,NaN,453.01,361.18,77.2,94.0,10.3,30065.0
13,FR,47.2,47.2,7.8,6.3,7.3,7.7,16.5,25.2,55.3,...,3742.57,4008.11,309.21,314.44,619.68,590.85,72.3,90.0,14.0,27062.0
14,HR,57.4,64.8,4.8,5.5,12.1,11.6,37.3,28.5,61.7,...,686.44,930.62,314.02,344.06,590.62,561.25,66.7,81.0,15.0,9227.0
15,HU,55.2,59.9,5.0,4.2,8.9,4.0,31.5,36.3,55.5,...,758.94,949.42,332.35,338.37,698.43,695.07,75.3,86.0,14.6,7458.0
16,IE,55.7,54.4,7.3,2.1,3.5,3.9,11.6,19.0,48.1,...,3994.90,4819.65,301.20,327.94,257.40,297.39,75.1,91.0,12.6,32644.0
18,IT,44.9,45.7,4.6,4.3,6.5,5.3,20.4,23.8,65.7,...,2374.06,2599.22,388.04,397.71,321.09,314.05,63.5,85.0,23.8,20570.0
19,LT,55.6,56.8,2.8,6.4,5.3,7.0,29.9,41.0,43.1,...,772.61,1223.82,430.74,459.78,726.38,643.40,78.2,82.0,11.6,10871.0
20,LU,48.0,48.4,6.0,5.0,4.6,10.0,15.5,48.1,38.3,...,4869.32,5502.10,288.14,NaN,505.29,450.70,72.8,95.0,6.9,48452.0
21,LV,56.5,58.3,3.8,3.6,5.7,8.4,31.7,53.9,38.9,...,647.40,1045.62,321.60,330.38,565.71,549.35,77.4,85.0,12.0,10852.0
22,MT,61.0,64.8,6.0,0.6,7.5,3.5,18.1,36.4,52.1,...,1829.54,NaN,360.37,397.21,458.86,430.84,76.8,86.0,9.6,17290.0
23,NL,49.4,50.0,6.4,5.0,5.8,8.3,16.1,41.8,28.7,...,4207.78,4748.67,342.50,367.22,354.55,321.44,80.1,98.0,7.0,27213.0
25,PL,54.7,58.1,4.1,2.7,8.1,4.2,26.5,37.5,53.9,...,675.61,NaN,230.68,NaN,662.70,653.69,73.0,87.0,13.4,9317.0
26,PT,53.6,55.9,6.1,5.5,10.0,12.2,26.6,27.4,58.2,...,1554.48,1982.50,NaN,NaN,331.91,344.32,76.1,81.0,9.5,12962.0
27,RO,55.8,58.7,1.5,1.2,5.0,1.0,15.7,73.6,24.0,...,380.14,661.28,269.83,304.70,671.15,696.83,70.9,84.0,17.3,6196.0
28,SE,49.9,51.3,7.5,1.6,6.3,11.7,18.2,37.7,54.6,...,4954.90,5041.77,410.98,431.74,253.79,213.33,82.1,96.0,6.4,27419.0
29,SI,56.6,58.1,4.8,3.6,7.8,15.1,25.4,31.9,62.8,...,1551.74,1975.17,277.02,317.81,453.74,442.79,76.4,89.0,9.0,16048.0
30,SK,54.2,58.7,4.0,2.9,7.6,4.3,28.4,41.3,50.2,...,970.05,1198.03,NaN,NaN,578.52,569.62,73.4,82.0,17.2,9869.0

In [93]:
df_all.isnull().sum()

geo                  0
Obesity_2014         0
Obesity_2019         0
asthma_2019          0
CHR_LW_RES_2019      0
DIAB_2019            0
DPR_CHR_2019         0
HBLPR_2019           0
Fruit_0_day          0
Fruit_1-4_day        0
Fruit_GE5            0
life_exp_2015        1
life_exp_2019        1
cr_death_rt_2014     0
cr_death_rt_2018     2
inf_mort_2014        0
inf_mort_2019        0
healthy_y_2014       0
healthy_y_2019       0
Poverty_risk_2015    0
Poverty_risk_2019    0
gro_disp_inc_2014    0
gro_disp_inc_2019    1
GDP_2014             1
GDP_2019             0
health_exp_2014      0
health_exp_2019      3
personnel_2014       5
personnel_2018       7
hosp_beds2014        0
hosp_beds2018        0
unempl2019           0
int_access2019       1
no_job_no_edu        0
income2019           0
dtype: int64

The data has only a few nans. They will be handled in the next stage.

In [115]:
df_all.reset_index(drop=True, inplace = True)

In [116]:
df_all

,geo,Obesity_2014,Obesity_2019,asthma_2019,CHR_LW_RES_2019,DIAB_2019,DPR_CHR_2019,HBLPR_2019,Fruit_0_day,Fruit_1-4_day,...,health_exp_2019,personnel_2014,personnel_2018,hosp_beds2014,hosp_beds2018,unempl2019,int_access2019,no_job_no_edu,income2019,Country
0,AT,48.0,52.2,4.3,4.6,6.0,7.5,21.8,35.8,58.7,...,4671.57,504.61,524.14,758.39,727.16,76.8,90.0,9.2,28094.0,Austria
1,BE,49.3,50.2,5.8,4.0,5.8,7.3,17.4,17.4,67.5,...,4418.10,297.55,312.96,585.15,562.24,70.5,90.0,12.8,24193.0,Belgium
2,BG,54.0,54.9,2.2,3.2,6.9,2.7,29.7,47.1,47.8,...,625.59,397.75,421.71,712.98,756.91,74.7,75.0,17.5,7051.0,Bulgaria
3,CY,48.3,49.8,4.0,2.9,7.0,4.7,18.9,33.2,58.8,...,1771.20,337.83,407.32,341.58,318.25,75.7,90.0,14.6,21492.0,Cyprus
4,CZ,56.8,60.0,4.6,2.2,8.8,4.4,26.3,48.2,44.1,...,1644.12,NaN,403.76,667.63,661.82,80.3,87.0,13.2,11996.0,Czechia
5,DE,52.1,53.5,8.0,5.9,8.7,11.6,26.2,33.2,55.9,...,4855.33,410.82,431.09,822.82,798.35,80.6,95.0,9.3,26128.0,Germany
6,DK,47.7,50.4,7.2,3.4,5.3,10.0,18.9,38.6,38.5,...,5355.06,387.74,419.44,268.88,261.17,78.3,95.0,10.0,33932.0,Denmark
7,EE,53.9,56.7,4.1,2.5,6.0,7.0,23.3,39.4,47.3,...,1425.95,335.88,348.34,489.53,453.49,80.2,90.0,11.6,13193.0,Estonia
8,EL,56.7,57.6,3.3,1.9,8.0,3.8,19.6,33.1,54.5,...,1340.82,NaN,NaN,423.78,419.77,61.2,79.0,20.7,10068.0,Greece
9,ES,52.4,53.7,4.1,2.7,7.5,5.7,19.3,23.4,65.7,...,2411.68,380.08,402.08,296.63,297.15,68.0,91.0,16.0,19135.0,Spain
10,EU27_2020,51.1,52.7,5.7,4.3,7.4,7.2,21.9,32.9,54.7,...,NaN,NaN,NaN,551.89,538.18,73.2,NaN,14.0,20620.0,EU27_2020
11,FI,54.7,59.0,9.4,3.3,9.5,8.8,27.3,37.5,49.0,...,3982.94,320.63,NaN,453.01,361.18,77.2,94.0,10.3,30065.0,Finland
12,FR,47.2,47.2,7.8,6.3,7.3,7.7,16.5,25.2,55.3,...,4008.11,309.21,314.44,619.68,590.85,72.3,90.0,14.0,27062.0,France
13,HR,57.4,64.8,4.8,5.5,12.1,11.6,37.3,28.5,61.7,...,930.62,314.02,344.06,590.62,561.25,66.7,81.0,15.0,9227.0,Croatia
14,HU,55.2,59.9,5.0,4.2,8.9,4.0,31.5,36.3,55.5,...,949.42,332.35,338.37,698.43,695.07,75.3,86.0,14.6,7458.0,Hungary
15,IE,55.7,54.4,7.3,2.1,3.5,3.9,11.6,19.0,48.1,...,4819.65,301.20,327.94,257.40,297.39,75.1,91.0,12.6,32644.0,Ireland
16,IT,44.9,45.7,4.6,4.3,6.5,5.3,20.4,23.8,65.7,...,2599.22,388.04,397.71,321.09,314.05,63.5,85.0,23.8,20570.0,Italy
17,LT,55.6,56.8,2.8,6.4,5.3,7.0,29.9,41.0,43.1,...,1223.82,430.74,459.78,726.38,643.40,78.2,82.0,11.6,10871.0,Lithuania
18,LU,48.0,48.4,6.0,5.0,4.6,10.0,15.5,48.1,38.3,...,5502.10,288.14,NaN,505.29,450.70,72.8,95.0,6.9,48452.0,Luxembourg
19,LV,56.5,58.3,3.8,3.6,5.7,8.4,31.7,53.9,38.9,...,1045.62,321.60,330.38,565.71,549.35,77.4,85.0,12.0,10852.0,Latvia
20,MT,61.0,64.8,6.0,0.6,7.5,3.5,18.1,36.4,52.1,...,NaN,360.37,397.21,458.86,430.84,76.8,86.0,9.6,17290.0,Malta
21,NL,49.4,50.0,6.4,5.0,5.8,8.3,16.1,41.8,28.7,...,4748.67,342.50,367.22,354.55,321.44,80.1,98.0,7.0,27213.0,Netherlands
22,PL,54.7,58.1,4.1,2.7,8.1,4.2,26.5,37.5,53.9,...,NaN,230.68,NaN,662.70,653.69,73.0,87.0,13.4,9317.0,Poland
23,PT,53.6,55.9,6.1,5.5,10.0,12.2,26.6,27.4,58.2,...,1982.50,NaN,NaN,331.91,344.32,76.1,81.0,9.5,12962.0,Portugal
24,RO,55.8,58.7,1.5,1.2,5.0,1.0,15.7,73.6,24.0,...,661.28,269.83,304.70,671.15,696.83,70.9,84.0,17.3,6196.0,Romania
25,SE,49.9,51.3,7.5,1.6,6.3,11.7,18.2,37.7,54.6,...,5041.77,410.98,431.74,253.79,213.33,82.1,96.0,6.4,27419.0,Sweden
26,SI,56.6,58.1,4.8,3.6,7.8,15.1,25.4,31.9,62.8,...,1975.17,277.02,317.81,453.74,442.79,76.4,89.0,9.0,16048.0,Slovenia
27,SK,54.2,58.7,4.0,2.9,7.6,4.3,28.4,41.3,50.2,...,1198.03,NaN,NaN,578.52,569.62,73.4,82.0,17.2,9869.0,Slovakia

In [117]:
df_all.to_csv('all_variables_dataframe',index=False)

# Target data: excess deaths

source: https://elifesciences.org/articles/69336#table1

In [95]:
excess_deaths = pd.read_html('https://elifesciences.org/articles/69336#table1')

In [96]:
excess_deaths = excess_deaths[0]

In [97]:
excess_deaths

,Country,Data until,Type,Official,Excess,std,z,Undercount,Per 100k,Increase
0,Albania,"Mar 31, 2021",m,2200,9300,±810,11.4,4.2,320,43
1,Andorra,"Dec 31, 2020",m,80,80,±30,3.1,1.0,110,25
2,Argentina,"Dec 31, 2020",m,43000,41000,±nan,NaN,1.0,90,12
3,Armenia,"Apr 30, 2021",m,4100,8300,±840,10.0,2.0,280,33
4,Aruba,"Dec 31, 2020",m,50,50,±30,1.5,1.0,50,7
...,...,...,...,...,...,...,...,...,...,...
98,Ukraine,"Apr 30, 2021",m,44000,81000,"±13,000",6.4,1.8,200,14
99,United Kingdom,"Jun 13, 2021",w,130000,110000,"±9,200",11.9,0.9,160,18
100,United States,"Jun 06, 2021",w,590000,640000,"±16,000",38.9,1.1,190,22
101,Uruguay,"Dec 31, 2020",m,170,"−2,200",±710,3.2,–,−60,−6
102,Uzbekistan,"Mar 31, 2021",m,630,20000,"±3,900",5.0,31.5,60,13

In [98]:
EU_countries = ['Austria','Belgium','Bulgaria','Cyprus','Czechia','Germany','Denmark','Estonia','Greece','Spain', 'EU27_2020', 'Finland','France',
 'Croatia', 'Hungary','Ireland','Italy', 'Lithuania','Luxembourg','Latvia','Malta','Netherlands',
 'Poland','Portugal','Romania', 'Sweden','Slovenia','Slovakia']

In [99]:
excess_deaths_EU = excess_deaths[excess_deaths.Country.isin(EU_countries)]

In [118]:
excess_deaths_EU.reset_index(drop=True, inplace = True)

In [120]:
excess_deaths_EU

,Country,Data until,Type,Official,Excess,std,z,Undercount,Per 100k,Increase
0,Austria,"Jun 13, 2021",w,10000,9800,"±1,400",7.0,0.9,110,12
1,Belgium,"Jun 13, 2021",w,25000,16000,"±1,800",8.7,0.6,140,14
2,Bulgaria,"Jun 20, 2021",w,18000,32000,"±1,800",17.5,1.8,460,29
3,Croatia,"May 30, 2021",w,8000,8800,"±1,000",8.8,1.1,210,17
4,Cyprus,"May 09, 2021",w,330,340,±160,2.1,1.0,30,5
5,Czechia,"May 23, 2021",w,30000,35000,"±1,800",18.8,1.2,320,30
6,Denmark,"Jun 20, 2021",w,2500,−630,±610,1.0,–,−10,−1
7,Estonia,"Jun 27, 2021",w,1300,1800,±300,6.0,1.4,140,12
8,Finland,"Jun 13, 2021",w,960,410,±680,0.6,0.4,10,1
9,France,"Jun 13, 2021",w,110000,72000,"±8,000",8.9,0.7,110,12
10,Germany,"Jun 20, 2021",w,90000,39000,"±17,000",2.3,0.4,50,4
11,Greece,"May 02, 2021",w,10000,7500,"±2,000",3.8,0.7,70,6
12,Hungary,"May 30, 2021",w,30000,24000,"±2,300",10.2,0.8,240,18
13,Ireland,"May 31, 2021",m,5000,1400,±730,1.9,0.3,30,4
14,Italy,"Apr 04, 2021",w,110000,120000,"±9,000",13.9,1.1,210,19
15,Latvia,"Jun 13, 2021",w,2500,3000,±440,6.8,1.2,160,10
16,Lithuania,"Jun 20, 2021",w,4400,9500,±600,15.9,2.2,350,25
17,Luxembourg,"Jun 06, 2021",w,820,190,±140,1.4,0.2,30,4
18,Malta,"May 16, 2021",w,420,360,±120,3.0,0.9,80,9
19,Netherlands,"Jun 20, 2021",w,18000,19000,"±1,900",9.8,1.1,110,12
20,Poland,"Jun 13, 2021",w,75000,120000,"±5,500",21.1,1.6,310,28
21,Portugal,"Jun 06, 2021",w,17000,19000,"±2,100",9.0,1.1,180,16
22,Romania,"Apr 25, 2021",w,31000,54000,"±3,500",15.3,1.7,280,20
23,Slovakia,"May 16, 2021",w,12000,17000,±920,18.1,1.4,310,30
24,Slovenia,"May 23, 2021",w,4700,3700,±370,10.0,0.8,180,17
25,Spain,"Jun 20, 2021",w,81000,87000,"±6,300",13.9,1.1,190,20
26,Sweden,"Jun 06, 2021",w,15000,8900,"±1,100",8.5,0.6,90,10

In [119]:
excess_deaths_EU.to_csv('excess_deaths_EU',index=False)

# Master dataframe

In [102]:
df_master = df_all

In [103]:
df_master['Country'] = EU_countries

/Users/ewawesolowska/opt/anaconda3/envs/DataAnalytics/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
df_master.columns

Index(['geo', 'Obesity_2014', 'Obesity_2019', 'asthma_2019', 'CHR_LW_RES_2019',
       'DIAB_2019', 'DPR_CHR_2019', 'HBLPR_2019', 'Fruit_0_day',
       'Fruit_1-4_day', 'Fruit_GE5', 'life_exp_2015', 'life_exp_2019',
       'cr_death_rt_2014', 'cr_death_rt_2018', 'inf_mort_2014',
       'inf_mort_2019', 'healthy_y_2014', 'healthy_y_2019',
       'Poverty_risk_2015', 'Poverty_risk_2019', 'gro_disp_inc_2014',
       'gro_disp_inc_2019', 'GDP_2014', 'GDP_2019', 'health_exp_2014',
       'health_exp_2019', 'personnel_2014', 'personnel_2018', 'hosp_beds2014',
       'hosp_beds2018', 'unempl2019', 'int_access2019', 'no_job_no_edu',
       'income2019', 'Country'],
      dtype='object')

In [105]:
df_master[['geo', 'Country']]

          geo      Country
0          AT      Austria
1          BE      Belgium
2          BG     Bulgaria
3          CY       Cyprus
4          CZ      Czechia
5          DE      Germany
6          DK      Denmark
7          EE      Estonia
8          EL       Greece
9          ES        Spain
10  EU27_2020    EU27_2020
12         FI      Finland
13         FR       France
14         HR      Croatia
15         HU      Hungary
16         IE      Ireland
18         IT        Italy
19         LT    Lithuania
20         LU   Luxembourg
21         LV       Latvia
22         MT        Malta
23         NL  Netherlands
25         PL       Poland
26         PT     Portugal
27         RO      Romania
28         SE       Sweden
29         SI     Slovenia
30         SK     Slovakia

In [125]:
df_master_final = pd.merge(df_master, excess_deaths_EU, how='left', on='Country')

In [127]:
df_master_final.shape

(28, 45)

In [128]:
df_master.shape

(28, 36)

In [129]:
excess_deaths_EU.shape

(27, 10)

In [130]:
df_master_final.to_csv('df_master_final',index=False)

In [131]:
df_master_final

,geo,Obesity_2014,Obesity_2019,asthma_2019,CHR_LW_RES_2019,DIAB_2019,DPR_CHR_2019,HBLPR_2019,Fruit_0_day,Fruit_1-4_day,...,Country,Data until,Type,Official,Excess,std,z,Undercount,Per 100k,Increase
0,AT,48.0,52.2,4.3,4.6,6.0,7.5,21.8,35.8,58.7,...,Austria,"Jun 13, 2021",w,10000.0,9800,"±1,400",7.0,0.9,110,12
1,BE,49.3,50.2,5.8,4.0,5.8,7.3,17.4,17.4,67.5,...,Belgium,"Jun 13, 2021",w,25000.0,16000,"±1,800",8.7,0.6,140,14
2,BG,54.0,54.9,2.2,3.2,6.9,2.7,29.7,47.1,47.8,...,Bulgaria,"Jun 20, 2021",w,18000.0,32000,"±1,800",17.5,1.8,460,29
3,CY,48.3,49.8,4.0,2.9,7.0,4.7,18.9,33.2,58.8,...,Cyprus,"May 09, 2021",w,330.0,340,±160,2.1,1.0,30,5
4,CZ,56.8,60.0,4.6,2.2,8.8,4.4,26.3,48.2,44.1,...,Czechia,"May 23, 2021",w,30000.0,35000,"±1,800",18.8,1.2,320,30
5,DE,52.1,53.5,8.0,5.9,8.7,11.6,26.2,33.2,55.9,...,Germany,"Jun 20, 2021",w,90000.0,39000,"±17,000",2.3,0.4,50,4
6,DK,47.7,50.4,7.2,3.4,5.3,10.0,18.9,38.6,38.5,...,Denmark,"Jun 20, 2021",w,2500.0,−630,±610,1.0,–,−10,−1
7,EE,53.9,56.7,4.1,2.5,6.0,7.0,23.3,39.4,47.3,...,Estonia,"Jun 27, 2021",w,1300.0,1800,±300,6.0,1.4,140,12
8,EL,56.7,57.6,3.3,1.9,8.0,3.8,19.6,33.1,54.5,...,Greece,"May 02, 2021",w,10000.0,7500,"±2,000",3.8,0.7,70,6
9,ES,52.4,53.7,4.1,2.7,7.5,5.7,19.3,23.4,65.7,...,Spain,"Jun 20, 2021",w,81000.0,87000,"±6,300",13.9,1.1,190,20
10,EU27_2020,51.1,52.7,5.7,4.3,7.4,7.2,21.9,32.9,54.7,...,EU27_2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FI,54.7,59.0,9.4,3.3,9.5,8.8,27.3,37.5,49.0,...,Finland,"Jun 13, 2021",w,960.0,410,±680,0.6,0.4,10,1
12,FR,47.2,47.2,7.8,6.3,7.3,7.7,16.5,25.2,55.3,...,France,"Jun 13, 2021",w,110000.0,72000,"±8,000",8.9,0.7,110,12
13,HR,57.4,64.8,4.8,5.5,12.1,11.6,37.3,28.5,61.7,...,Croatia,"May 30, 2021",w,8000.0,8800,"±1,000",8.8,1.1,210,17
14,HU,55.2,59.9,5.0,4.2,8.9,4.0,31.5,36.3,55.5,...,Hungary,"May 30, 2021",w,30000.0,24000,"±2,300",10.2,0.8,240,18
15,IE,55.7,54.4,7.3,2.1,3.5,3.9,11.6,19.0,48.1,...,Ireland,"May 31, 2021",m,5000.0,1400,±730,1.9,0.3,30,4
16,IT,44.9,45.7,4.6,4.3,6.5,5.3,20.4,23.8,65.7,...,Italy,"Apr 04, 2021",w,110000.0,120000,"±9,000",13.9,1.1,210,19
17,LT,55.6,56.8,2.8,6.4,5.3,7.0,29.9,41.0,43.1,...,Lithuania,"Jun 20, 2021",w,4400.0,9500,±600,15.9,2.2,350,25
18,LU,48.0,48.4,6.0,5.0,4.6,10.0,15.5,48.1,38.3,...,Luxembourg,"Jun 06, 2021",w,820.0,190,±140,1.4,0.2,30,4
19,LV,56.5,58.3,3.8,3.6,5.7,8.4,31.7,53.9,38.9,...,Latvia,"Jun 13, 2021",w,2500.0,3000,±440,6.8,1.2,160,10
20,MT,61.0,64.8,6.0,0.6,7.5,3.5,18.1,36.4,52.1,...,Malta,"May 16, 2021",w,420.0,360,±120,3.0,0.9,80,9
21,NL,49.4,50.0,6.4,5.0,5.8,8.3,16.1,41.8,28.7,...,Netherlands,"Jun 20, 2021",w,18000.0,19000,"±1,900",9.8,1.1,110,12
22,PL,54.7,58.1,4.1,2.7,8.1,4.2,26.5,37.5,53.9,...,Poland,"Jun 13, 2021",w,75000.0,120000,"±5,500",21.1,1.6,310,28
23,PT,53.6,55.9,6.1,5.5,10.0,12.2,26.6,27.4,58.2,...,Portugal,"Jun 06, 2021",w,17000.0,19000,"±2,100",9.0,1.1,180,16
24,RO,55.8,58.7,1.5,1.2,5.0,1.0,15.7,73.6,24.0,...,Romania,"Apr 25, 2021",w,31000.0,54000,"±3,500",15.3,1.7,280,20
25,SE,49.9,51.3,7.5,1.6,6.3,11.7,18.2,37.7,54.6,...,Sweden,"Jun 06, 2021",w,15000.0,8900,"±1,100",8.5,0.6,90,10
26,SI,56.6,58.1,4.8,3.6,7.8,15.1,25.4,31.9,62.8,...,Slovenia,"May 23, 2021",w,4700.0,3700,±370,10.0,0.8,180,17
27,SK,54.2,58.7,4.0,2.9,7.6,4.3,28.4,41.3,50.2,...,Slovakia,"May 16, 2021",w,12000.0,17000,±920,18.1,1.4,310,30